.navbar-nav, nav, .navbar{
    background-color: #98FB98;
}
.logo{
    max-height: 60px;
    border-radius: 45px;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #C4A484;
}
p{
    text-align: center;
}
main{
    background-color: #C4A484;
    min-height: 90vh;
}
footer{
    text-align: center;
    background-color: #98FB98;
    color: #000;
    padding: 10px;
    height: 100%;
}
.hatter{
    background-image: url('../media/images/1708991013647.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 100%;
}